@import "@/styles/variables";

.ai-loading-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $dark;
  padding: 1rem;
  > .svg-animation {
    margin-bottom: 2rem;
    > svg {
      height: auto;
      max-height: 20rem;
    }
  }
  > .progress {
    width: 100%;
    max-width: 30rem;
    > .progress-bar {
      background-color: $gray-600;
    }
  }
}
