@import "@/styles/variables";

.navbar {
  position: static;
  padding: 1rem 1rem !important;
  @include media-breakpoint-down(lg) {
    padding: 1rem 0rem !important;
  }
  .nexus-logo {
    display: none;
    color: $white;
    font-size: 2rem;
  }
  .navbar-brand {
    font-weight: 700;
  }
  .menus {
    display: flex;
    align-items: center;
    > .link-menu-wrapper {
      margin-right: 3rem;
      @include media-breakpoint-down(sm) {
        margin-right: 1rem;
      }
    }
  }
}

@media screen and (max-width: 310px) {
  .navbar {
    .navbar-brand {
      display: none;
    }
    .nexus-logo {
      display: flex;
    }
  }
}
