@import "@/styles/variables";

.download-overlay {
  position: relative;
  &:hover {
    .download-btn {
      visibility: visible;
    }
  }
  .download-btn {
    display: flex;
    padding: 0.3rem;
    visibility: hidden;
    position: absolute;
    right: 1rem;
    top: 1rem;
  }

  @media (hover: none) {
    .download-btn {
      visibility: visible;
    }
  }
}
