@import "@/styles/variables";

.query-list-images-container {
  .result-text {
    display: none;
    align-items: center;
    margin-bottom: 1.5rem;
    @include media-breakpoint-down(sm) {
      display: flex;
    }
    small {
      color: $gray-400;
    }
    hr {
      margin-left: 0.5rem;
      width: 100%;
    }
  }
  .query-list-images-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 2rem;
    gap: 1rem;
    @include media-breakpoint-down(md) {
      grid-template-columns: repeat(2, 1fr);
      .query-image {
        img {
          max-height: 500px;
          max-width: 500px;
        }
      }
    }
    .query-image {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      img {
        height: auto;
        width: 100%;
        object-fit: cover;
      }
      .image-loader {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        .placeholder-glow {
          height: 100%;
          width: 100%;
          margin-bottom: 0;
          .placeholder {
            height: 100%;
          }
        }
      }
    }
  }
}
