@import "@/styles/variables";

.history-container {
  display: flex;
  flex-direction: column;
  color: $white;
  .history-images {
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    @include media-breakpoint-down(sm) {
      margin-bottom: 0;
      grid-template-columns: repeat(2, 1fr);
    }
    img {
      height: auto;
      width: 100%;
      object-fit: cover;
    }
  }
  .history-loader {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    > .svg-animation {
      margin-bottom: 2rem;
      > svg {
        height: auto;
        max-height: 20rem;
      }
    }
  }
}
