@import "../../styles/variables.scss";

.home-wrapper {
  color: white;
  padding-top: 5rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  .example-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    small {
      color: $gray-400;
    }
  }
}
