@import "../../styles/variables.scss";

.home-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
  .example-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    small {
      color: $gray-400;
    }
  }
  .svg-ai-loader {
    margin-bottom: 1.5rem;
    @include media-breakpoint-down(sm) {
      margin-bottom: 0rem;
      position: absolute;
      width: 100%;
      top: 10%;
      left: 0;
    }
  }
}
