@import "@/styles/variables";

.pricing-page-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  @include media-breakpoint-down(sm) {
    margin-bottom: 0;
  }
  > .pricing-headers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: auto;
    padding-right: auto;
    > h3 {
      font-weight: 600;
      margin-bottom: 0;
      text-align: center;
      @include media-breakpoint-down(sm) {
        margin-bottom: 1rem;
        line-height: 2rem;
      }
    }
    > p {
      margin-top: 0.7rem;
      text-align: center;
      color: $gray-500;
      font-size: 0.9rem;
      // max-width: 52rem;
      margin-left: 12%;
      margin-right: 12%;
      @include media-breakpoint-down(sm) {
        margin-left: 0;
        line-height: 1.5rem;
        margin-right: 0;
      }
    }
  }
  > .pricing-cards-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    @include media-breakpoint-down(md) {
      flex-direction: column;
    }
  }
}
