@import "@/styles/variables";

.pricing-page-wrapper {
  display: flex;
  flex-direction: column;
  > .pricing-headers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: auto;
    padding-right: auto;
    > h3 {
      font-weight: 600;
      margin-bottom: 0;
      text-align: center;
      @include media-breakpoint-down(sm) {
        margin-bottom: 1rem;
      }
    }
    > p {
      margin-top: 0.7rem;
      text-align: center;
      color: $gray-500;
      font-size: 0.9rem;
      max-width: 52rem;
    }
  }
  > .pricing-cards-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    @include media-breakpoint-down(md) {
      flex-direction: column;
    }
  }
}
