@import "../../styles/variables.scss";

.login-container {
  color: white;
  padding: 1rem;
  margin-top: 10rem;
  width: 22rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  .login-btns {
    margin-top: 2rem;
    width: 100%;
    button {
      width: 100%;
      height: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        margin-right: 1rem;
      }
    }
  }
  .coming-soon {
    font-weight: 100;
    font-size: 0.8rem;
  }
}
